<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit coffee</title>
</head>
<body>

<form id="edit-form" th:action="@{/coffees/{id}/edit(id=${coffeeDto.id})}" th:method="post" action="coffees-edit.html">
    <h1>Coffee Info:</h1>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" name="id" type="text" readonly="readonly" th:value="${coffeeDto.id}" value="1"/>
    </div>

    <div class="row">
        <label for="title-input">Name:</label>
        <input id="title-input" name="name" type="text" th:value="${coffeeDto.name}" value="Double americano"/>
    </div>

    <div class="row">
        <label for="authors-input1">Price:</label>
        <input id="authors-input1" name="price" type="text" th:value="${coffeeDto.price}" value="175.0"/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>

</body>
</html>